.fl {
    float: left;
}

.fr {
    float: right;
}


/* 字体图标 */

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?7kkyc2');
    src: url('../fonts/icomoon.eot?7kkyc2#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?7kkyc2') format('truetype'), url('../fonts/icomoon.woff?7kkyc2') format('woff'), url('../fonts/icomoon.svg?7kkyc2#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.fr .icomoon {
    font-family: 'icomoon';
    font-size: 16px;
    line-height: 26px;
}

.w {
    width: 1200px;
    margin: 0 auto;
}

.style-red {
    color: #c81623;
}


/* 快捷导航 */

.spacer {
    width: 1px;
    height: 12px;
    background-color: #666;
    margin: 9px 15px 0;
}

.shortcut {
    height: 31px;
    background-color: #f1f1f1;
    line-height: 31px;
}

.shortcut li {
    float: left;
}


/* 头部 */

.header {
    position: relative;
    height: 105px;
}

.logo {
    position: absolute;
    top: 25px;
    left: 0;
    width: 175px;
    height: 56px;
}

.logo a {
    display: block;
    overflow: hidden;
    width: 175px;
    height: 56px;
    background: url(../img/logo.png) no-repeat;
    text-indent: -999px;
}

.search {
    padding: 25px 0 0 348px;
}

.search input {
    float: left;
    width: 444px;
    height: 32px;
    border: 1px solid #b1191a;
    border-right: 0;
    padding-left: 10px;
}

.search button {
    float: left;
    width: 82px;
    height: 34px;
    background-color: #b1191a;
    border: 0;
    font-size: 14px;
    color: #fff;
}

.hotwrods {
    position: absolute;
    top: 65px;
    left: 348px;
}

.hotwrods a {
    margin: 0 10px 0;
}

.shopar {
    position: absolute;
    top: 25px;
    right: 62px;
    width: 138px;
    height: 34px;
    background-color: #f7f7f7;
    line-height: 34px;
    border: 1px solid #dfdfdf;
    text-align: center;
}

.car {
    font-family: 'icomoon';
    color: #da5555;
}

.arrow {
    font-family: 'icomoon';
    margin-left: 5px;
}

.count {
    position: absolute;
    top: -4px;
    /* 数字正常应该向右侧增加 */
    left: 100px;
    height: 14px;
    background-color: #e60012;
    line-height: 14px;
    padding: 0 4px;
    color: #fff;
    border-radius: 7px 7px 7px 0;
}


/* nav */

.nav {
    height: 45px;
    border-bottom: 2px solid #b1191a;
}

.dorpdown {
    width: 209px;
    height: 45px;
}

.dorpdown .dt {
    height: 100%;
    background-color: #b1191a;
    line-height: 45px;
    text-align: center;
    font-size: 16px;
    color: #fff;
}

.dorpdown .dd {
    height: 465px;
    margin-top: 2px;
    background-color: #c81623;
    color: #fff;
}

.menu-item {
    height: 31px;
    line-height: 31px;
    margin-left: 1px;
    padding: 0 10px;
    transition: all .5s;
}

.menu-item:hover {
    margin-left: 20px;
    background-color: #fff;
}

.menu-item:hover a {
    color: #c81623;
}

.menu-item a {
    font-size: 14px;
    color: #fff;
}

.menu-item i {
    float: right;
    font-family: 'icomoon';
    color: #fff;
    font-size: 18px;
}

.navitems {
    margin-left: 10px;
}

.navitems li {
    float: left;
}

.navitems li a {
    height: 45px;
    line-height: 45px;
    font-size: 16px;
    padding: 0 25px;
}


/* footer */

.footer {
    height: 386px;
    background-color: #f5f5f5;
    padding-top: 30px;
}

.mod-service {
    height: 79px;
    border-bottom: 1px solid #ececec;
}

.mod-service li {
    float: left;
    width: 240px;
    height: 79px;
}

.mod-service-icom {
    float: left;
    width: 50px;
    height: 50px;
    background: url(../img/icons.png) no-repeat;
    margin-left: 35px;
}

.mod-service-z {
    background-position: -253px -3px;
}

.mod-service-tit {
    float: left;
    margin-left: 5px;
}

.mod-service-tit h5 {
    margin: 5px 0;
}

.mod-service-j {
    background-position: -254px -53px;
}

.mod-service-b {
    background-position: -255px -105px;
}

.mod-service-t {
    background-position: -256px -155px;
}

.mod-service-bz {
    background-position: -256px -208px;
}

.mod-help {
    height: 187px;
    border-bottom: 1px solid #ececec;
}

.mod-help-item {
    float: left;
    width: 150px;
    padding: 20px 0 0 50px;
}

.mod-help-item dt {
    height: 25px;
    font-size: 16px;
}

.mod-help-item dd {
    height: 22px;
}

.mod-help-app dt,
.mod-help-app p {
    padding-left: 15px;
}

.mod-help-app img {
    margin: 7px 0;
}

.mod-copyright {
    text-align: center;
}

.mod-copyright-links {
    margin: 20px 0 15px 0;
}