.w {
    width: 1200px;
    margin: auto;
}

.header {
    height: 82px;
    border-bottom: solid 2px #af191b;
}

.logo {
    padding-top: 15px;
}

.reisteerarea {
    height: 520px;
    border: solid 1px #ccc;
    margin-top: 25px;
}

.reisteerarea h3 {
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    font-size: 18px;
    border-bottom: solid 1px #ccc;
    background-color: #ececec;
    font-weight: normal;
}

.reisteerarea h3 em {
    float: right;
    font-size: 14px;
}

.reisteerarea a {
    color: #c51814;
}

.reg_fom {
    width: 600px;
    height: 400px;
    margin: 40px auto 0;
}

.reg_fom li {
    margin-bottom: 20px;
}

.reg_fom label {
    display: inline-block;
    width: 100px;
    height: 36px;
    line-height: 36px;
    text-align: right;
}

.inp {
    width: 238px;
    height: 34px;
    border: solid 1px #ccc;
    margin-left: 10px;
}

.error {
    margin-left: 10px;
    color: #e63339;
}

.error_icon,
.suceess_icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../img/error.png)no-repeat;
    vertical-align: middle;
    margin-top: -4px;
}

.suceess {
    margin-left: 10px;
    color: #47b846;
}

.suceess_icon {
    background: url(../img/success.png);
}

.safe {
    padding-left: 187px;
}

.safe em {
    padding: 0 12px;
    color: #fff;
}

.rou {
    background-color: #dd1112;
}

.zhong {
    background-color: #47b846;
}

.qiang {
    background-color: #f79100;
}

.agree {
    padding: 40px 0 0 100px;
}

.reg_fom a {
    color: #1f9eef;
}

.over {
    width: 200px;
    height: 34px;
    background-color: #c81622;
    border: 0;
    font-size: 18px;
    color: #fff;
    margin: 30px 138px;
}

.foot {
    height: 118px;
    text-align: center;
}

.links {
    padding: 22px 0 15px 0;
}

.links a {
    padding: 0 15px;
}

.copyright {
    line-height: 23px;
}